@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;

}

nav {
    background-color: #FF9800; /* Secondary */
    color: white;
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 25%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.sidebar> ul> li{
    background-color: #03A9F4;
    color: white;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.main-content {
    background-color: white;
    flex-grow: 1;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: #F5F5F5; /* Neutral */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
